{% embed "system/embed/card/card-with-info-panel.html.twig" %}
    {% import "system/macro/card/card-heading.html.twig" as card_heading %}
    {% block mainHeader %}
        {{ card_heading.component({
            title: localized.headline.logoSettings,
        }) }}
    {% endblock %}
    {% block mainContent %}
        {% import "system/macro/row/switch-button.html.twig" as row_switch_button %}
        {% import "system/macro/row/media-selection.html.twig" as row_media_selection %}
        {% import "system/macro/row/save.html.twig" as row_save %}
        {{ row_switch_button.component({
            hint: localized.hint.showLogo,
            id: 'showLogo',
            label: localized.field.showLogo,
            value: data.showLogo,
        }) }}

        {{ row_media_selection.component({
            hint: localized.hint.logo,
            button: localized.button.useThisMedia,
            id: 'logo',
            label: localized.field.logo,
            title: localized.button.selectOrUploadLogo,
            value: data.logo,
        }, localized) }}

        {{ row_media_selection.component({
            hint: localized.hint.logoHd,
            button: localized.button.useThisMedia,
            id: 'logoHd',
            label: localized.field.logoHd,
            title: localized.button.selectOrUploadLogo,
            value: data.logoHd,
        }, localized) }}

        {{ row_save.component({}, localized) }}
    {% endblock %}

    {% block infoPanelHeader %}
        {{ localized.global.headline.thingsToKnow | raw }}
    {% endblock %}

    {% block infoPanelContent %}
        {% embed "system/embed/accordion/accordion-group.html.twig" %}
            {% block content %}
                {% embed "system/embed/accordion/accordion.html.twig" with {id: 'accordionLogoSettings', expanded: true} %}
                    {% block title %}
                        {{ localized.thingsToKnow.headlineLogoSize | raw }}
                    {% endblock %}
                    {% block content %}
                        <p>{{ localized.thingsToKnow.logoSize | raw }}</p>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
