{% import "setup-assistant/macro/direction-buttons.html.twig" as direction_buttons %}

<div class="bc-hidden" data-brlbs-setup-flow="admin-plugin-display-mode-settings">
    {% embed "system/embed/card/card-with-info-panel-below.html.twig" with { withHeaderBorder: true } %}
        {% import "system/macro/card/card-heading-with-subtitle.html.twig" as card_heading_with_subtitle %}
        {% import "system/macro/form-component/radio-card.html.twig" as radio_card %}
        {% import "system/macro/icons/cog-6-tooth.html.twig" as cog_6_tooth_icon %}
        {% import "system/macro/icons/cog-8-tooth.html.twig" as cog_8_tooth_icon %}

        {% block mainHeader %}
            {{ card_heading_with_subtitle.component({
                title: localized.headline.displayModeSettings,
                subtitle: localized.headline.adminPluginSettings,
            }) }}
        {% endblock %}

        {% block mainContent %}
            <fieldset class="bc-p-6">
                <legend class="bc-pt-6 bc-text-lg bc-font-medium bc-text-center">{{ localized.headline.choosePreferredMode | raw }}</legend>
                <div class="bc-flex bc-flex-col sm:bc-flex-row bc-gap-y-6 sm:bc-gap-x-4 bc-justify-center">
                    {{ radio_card.component({
                        checked: true,
                        description: localized.text.displayModeSettingsSimplified,
                        icon: cog_6_tooth_icon.component({ height: 'bc-h-8', width: 'bc-w-8',}),
                        id: 'displayModeSettingsSimplified',
                        label: findObject(enum.displayModeSettings.list, 'key', 'simplified').value,
                        name: 'displayModeSettings',
                        value: 'simplified',
                        width: 'bc-w-full sm:bc-w-1/3',
                    }, localized) }}

                    {{ radio_card.component({
                        description: localized.text.displayModeSettingsStandard,
                        icon: cog_8_tooth_icon.component({ height: 'bc-h-8', width: 'bc-w-8',}),
                        id: 'displayModeSettingsStandard',
                        label: findObject(enum.displayModeSettings.list, 'key', 'standard').value,
                        name: 'displayModeSettings',
                        value: 'standard',
                        width: 'bc-w-full sm:bc-w-1/3',
                    }, localized) }}
                </div>
            </fieldset>
        {% endblock %}

        {% block infoPanelHeader %}
            {{ localized.global.headline.thingsToKnow | raw }}
        {% endblock %}

        {% block infoPanelContent %}
            {% embed "system/embed/accordion/accordion-group.html.twig" %}
                {% block content %}
                    {% embed "system/embed/accordion/accordion.html.twig" with {id: 'accordionDisplayModeSettings', expanded: true } %}
                        {% block title %}
                            {{ localized.thingsToKnow.headlineDisplayModeSettings | raw }}
                        {% endblock %}
                        {% block content %}
                            <p>{{ localized.thingsToKnow.displayModeSettingsA | raw }}</p>
                            <p>{{ localized.thingsToKnow.displayModeSettingsB | raw }}</p>
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {{ direction_buttons.component({
        currentStep: 6 + (data.setupType == 'guided' ? 5 : 0) + (data.multilanguagePluginActive ? 0 : -1),
        steps: data.setupSteps,
    }, localized) }}
</div>
